:root
{
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --first-font-weight:400;
  --second-font-weight:500;
  --third-font-weight:700;
  --fourth-font-weight:900;
  --main-color-text:#212121;
  --secod-color-text: #2196F3;
  --third-color-text: #757575;
  --fourth-color-text: #ffffff;
  --fifth-color-text: rgba(255, 255, 255, 0.6);
}

body{
  font-family: var(--main-font);
  color:var(--main-color-text);

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items:center;
  margin: 0 auto;
}
.section{
  margin-right: auto;
  margin-left: auto;
  padding: 94px 0 0;
}
/*--header--*/
/*--navigation--*/
.header,
.header-whole,
.hero-text,
.navigation{
  display: flex;
}
.header{
  margin-left: auto;
  margin-right: auto;
  background:var(--fourth-color-text);
  border-bottom: 1px solid #ECECEC;
}
.navigation-list{
  display: flex;
  align-items:center;
}
.navigation-list-piece:not(:last-child){
  margin-right: 46px;
}
.header-whole{
  align-items:center;
  margin: 0 auto;
}

.navigation-logo{
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  font-family: var(--second-font);
  font-weight: var(--third-font-weight);
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color:var(--main-color-text);
}
.navigation-list-item{
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.navigation-list-item:hover,
.navigation-logo:hover{
  color: var(--secod-color-text);
}
/*--end navigation--*/
.header-mail{
  margin-left: auto;
}
.header-phone{
  margin-left: 50px;
}
.header-phone,
.header-mail{
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color:var(--third-color-text);
}
.header-mail:hover,
.header-mail:focus
{
  fill: var(--secod-color-text);
  color: var(--secod-color-text);
}
.header-phone:hover,
.header-phone:focus
{
  fill:var(--secod-color-text);
  color: var(--secod-color-text);
}
.contact-addres-phone{
  width: 10px;
  height: 16px;
  margin-right:10px;
}
.contact-addres-email{
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

/*--end header--*/
/*--hero--*/
.hero-images{
  background-color: #2F303A;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('images/pictures/main_page/hero/main_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title-item{
  box-sizing: content-box;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: var(--fourth-font-weight);
  font-size: 44px;
  line-height: 1.364;
  color:var(--fourth-color-text);
}
.hero-button{
  width: 200px;
  height: 50px;
  font-weight: var(--third-font-weight);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background:var(--fourth-color-text);
  color:var(--main-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.button-item{
  padding-top: 30px;
  text-align: center;
}
.hero-button:hover,
.hero-button:focus{
  cursor: pointer;
  background:var(--secod-color-text);
  color:var(--fourth-color-text);
}
/* <!--first center--> */
.first-center{
  padding-top: 94px;
}
.hero-text-title{
  font-weight: var(--third-font-weight);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}
.hero-text-item{
  width: 270px;
  height: 75px;
  margin-top: 10px;
  font-weight: var(--first-font-weight);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color:var(--third-color-text);
}
.hero-text li:not(:last-child){
  margin-right: 30px;
}
.center-box{
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.center-icon{
  display: flex;
  width: 70px;
  height: 70px;
}
.hero-text-inside{
  padding-top: 30px
}

.center-icon:hover,
.center-icon:focus
{
  fill:var(--secod-color-text);
}
/*-- end hero--*/

/*-- what we do--*/
.text-picture-title{
  font-weight: var(--third-font-weight);
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.images{
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;  
}
.images li:not(:last-child){
  margin-right: 30px;
}

/*-- end what we do--*/

/* <!--first center--> */

/*-- Our team--*/
.team-title{
  font-weight: var(--third-font-weight);
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.text-team-name{
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.text-team-name-item{
  font-weight: var(--first-font-weight);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color:var(--third-color-text);
  letter-spacing: 0.03em;
}
.section-color{
  background: #F5F4FA;
  padding: 94px 0 94px;
}
.team-name-list{
  display: flex;
}
.team-text-card{
  background-color: #FFFFFF;
}
.social-list{
  display: flex;
  padding: 12px 32px 32px 30px;
}
.social-list-item:not(:last-child)
{
  padding-right: 10px;
}

.social-icon{
  display: block;
  width: 20px;
  height: 20px;
}
.social-list-link{
  display: flex;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-list-link:hover,
.social-list-link:focus
{
  fill:var(--fourth-color-text);
  background-color:#2196F3;
}
.team-name-list>li{
  box-sizing: border-box;
  align-items:center;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background:var(--fourth-color-text)
}
.team-name-list>li:not(:last-child){
  margin-right: 30px;
}
/*-- end Our team--*/
/*--Our clients--*/
.clients{
  font-weight: var(--third-font-weight);
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-logo{
  width: 106px;
  height: 60px;
}
.clients-list-item{
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list{
  display: flex;
  padding: 50px 0px 94px 0px;

}
.clients-list>li:not(:last-child){
  margin-right: 30px;
}
.clients-list-item-link{
  fill: #AFB1B8;
}

.clients-list-item:focus,
.clients-list-item:hover,
.clients-list-item-link:focus,
.clients-list-item-link:hover{
  fill: var(--secod-color-text); 
  color: var(--secod-color-text);
  border-color: var(--secod-color-text);
}
/*--Our clients--*/

/*-- footer--*/
.footer-color{
  background: #2F303A;
}
.address-data{
  display: flex;
}
.footer-logo{
  font-family:var(--second-font);
  font-weight: var(--third-font-weight);
  font-size: 26px;
  font-style: normal;
  line-height: 1.192;
  color:var(--fourth-color-text);
  letter-spacing: 0.03em;
}
.footer-adress-list{
  margin-top: 20px;
}
.footer-adress-list li:not(:first-child){
  margin-top: 9px;
}
.footer-font-map{
  font-weight: var(--first-font-weight);
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  color:var(--fourth-color-text);
  letter-spacing: 0.03em;
}
.footer-font-mail,
.footer-font-phone {
font-weight: var(--first-font-weight);
font-size: 14px;
font-style: normal;
line-height: 1.714;
color: var(--fifth-color-text);
letter-spacing: 0.03em;
}
.footer-social-list{
  display: flex;
}
.footer-social-icon{
  display: block;
  width: 20px;
  height: 20px;
}
.footer-social-list-item{
  display: flex;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.footer-social-list-icon:not(:last-child)
{
  padding-right: 10px;
}
.footer-social-list-item:hover,
.footer-social-list-item:focus
{
  cursor: pointer;
  fill:var(--fourth-color-text);
  background-color:#2196F3;
}
.footer-font-map:hover,
.footer-font-mail:hover,
.footer-font-phone:hover,
.footer-logo:hover
{
  cursor: pointer;
  color:var(--secod-color-text);
}
.footer-right-side{
  padding-left: 70px;
  padding-top: 10px;
}
.footer-adress{
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-text-join{
  padding-bottom: 20px;
  font-family:var(--main-font);
  font-style: normal;
  font-weight: var(--third-font-weight);
  font-size: 14px;
  line-height: 1.143;
  color:var(--fourth-color-text);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*-- end footer--*/

/*portfolio*/

/*--page filter--*/

.button-selection{
  font-family:var(--main-font);
  font-weight:var(--second-font-weight);
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background:#F5F4FA;
  color:var(--main-color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-selection:hover,
.button-selection:focus{
  cursor: pointer;
  background:var(--secod-color-text);
  color:var(--fourth-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.list-button{
  display: flex;
  margin: 94px auto 56px;
}
.section-button{
  display: flex;
}
.section-button li:not(:last-child){
  margin-right: 8px;
}

/*--end page filter--*/
/*--what we do--*/
.activities-title{
font-weight: var(--third-font-weight);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.activities-services{
font-weight:var(--first-font-weight);
font-size: 16px;
line-height: 1.875;
color:var(--third-color-text);
letter-spacing: 0.03em;
}
.activities{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.activities-item:hover{
  box-shadow: 0px 1px 1px 
  rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px 
  rgba(0, 0, 0, 0.16);
}
.pictures-list{
  display: flex;
}
.activities-signature{
  box-sizing: border-box;
  padding-left: 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  background: #FFFFFF;
}
.activities li{
  margin-right: 30px;
}
.activities li:nth-child(3n+3){
  margin-right: -30px;
}
.activities li:nth-child(4),
.activities li:nth-child(5),
.activities li:nth-child(6){
  margin-top: 30px;
  margin-bottom: 30px;
}
.
